/* Header styles*/

.header-wrapper {
  position: relative;
  background: url("./images/codelaptop.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.main-info h2 {
  color: #f71309;
  font-weight: bolder;
  text-transform: uppercase;
}

/* typed text styles*/

.typed-text {
  font-size: 3rem;
  color: #000;
}

/* btn styles*/

.btn-main {
    /* border: 1px solid #f71309; */
    border-radius: 5px;
    padding: 10px 12px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    text-decoration: none;
}
.btn-main:hover {
    background: #d4827e;
    color: #fff;
}