/* Header styles*/

.header-wrapper {
  position: relative;
  background: url("./images/codelaptop.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #f71309;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-info h2 {
  font-weight: bolder;
  text-transform: uppercase;
}

/* typed text styles*/

.typed-text {
  font-size: 3rem;
  font-size: bolder;
}

/* btn styles*/

.btn-main {
  /* border: 1px solid #f71309; */
  border-radius: 5px;
  padding: 10px 12px;
  text-transform: uppercase;
  background: #09F734;
  color: #641E16 ;
  text-decoration: none;
  margin: 2rem;
  font-size: bolder;
}
.btn-main:hover {
  background: #d4827e;
  color: #fff;
}
